openapi: 3.2.0
info:
  title: MBrace Therapeutics Content Oembed API
  version: oembed/1.0
  summary: Anonymously readable oEmbed 1.0 provider endpoint on mbracetrx.com.
  description: The read-only content surface MBrace Therapeutics exposes at https://mbracetrx.com/wp-json. MBrace Therapeutics is a privately held, clinical-stage biopharmaceutical company developing antibody-drug conjugates (ADCs) against novel oncology targets, discovered with its SPARTA in vivo antibody selection and target discovery platform. It runs no developer program and markets no product API. This document covers the oEmbed 1.0 provider endpoint. Any mbracetrx.com URL can be resolved to a titled, authored embed record — the cheapest way to turn a page URL into structured metadata without parsing HTML.
  contact:
    name: MBrace Therapeutics
    url: https://mbracetrx.com/
  license:
    name: Proprietary — no published API terms
    url: https://mbracetrx.com/terms-of-use/
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://mbracetrx.com/wp-json/ (346 routes across 17 namespaces) and verified against live anonymous responses on 2026-08-25. Every query parameter below appears verbatim in that route index''s `args` block for the endpoint it is attached to, every response field was read from a real anonymous response body, and every collection count quoted in a description was read from the `X-WP-Total` response header on that date. MBrace Therapeutics publishes no OpenAPI, no developer portal, no API reference and no developer program for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Write operations and the authenticated administration surface (/wp/v2/settings, /wp/v2/menus, /wp/v2/themes, /wp/v2/plugins, the elementor/*, yoast/v1, redirection/v1, string-locator/v1, wpe/* and wp-abilities/v1 namespaces) are deliberately excluded — they returned 401 anonymously and were not exercised. The deployment is served by WP Engine behind Cloudflare, page HTML is Elementor-rendered, and API responses carry `x-robots-tag: noindex`. Nothing here was obtained with credentials.'
servers:
- url: https://mbracetrx.com/wp-json
  description: Production content API
tags:
- name: oembed
  description: oEmbed 1.0 provider endpoint for mbracetrx.com URLs.
paths:
  /oembed/1.0/embed:
    get:
      tags:
      - oembed
      operationId: getOembed
      summary: Get an oEmbed response
      description: Returns the oEmbed 1.0 response for a mbracetrx.com URL. Verified live on 2026-08-25 against https://mbracetrx.com/ — returned provider_name "MBrace Therapeutics", type "rich", and the page title and author.
      parameters:
      - name: format
        in: query
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        schema:
          type: string
          default: 600
      - name: url
        in: query
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
        required: true
      responses:
        '200':
          description: An oEmbed 1.0 response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OembedResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The URL is not a valid resource on this site.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    OembedResponse:
      type: object
      description: An oEmbed 1.0 rich response as returned by this deployment.
      properties:
        version:
          type: string
          examples:
          - '1.0'
          description: The oEmbed version number.
        provider_name:
          type: string
          examples:
          - MBrace Therapeutics
          description: The name of the resource provider.
        provider_url:
          type: string
          format: uri
          description: The URL of the resource provider.
        author_name:
          type: string
          description: The name of the author of the resource.
        author_url:
          type: string
          format: uri
          description: A URL for the author of the resource.
        title:
          type: string
          description: The title of the resource.
        type:
          type: string
          examples:
          - rich
          description: The oEmbed response type.
        width:
          type: integer
          description: The width in pixels of the embed.
        height:
          type: integer
          description: The height in pixels of the embed.
        html:
          type: string
          description: The HTML required to embed the resource.
    Error:
      type: object
      description: The WordPress REST error envelope as returned by this deployment. Not RFC 9457 problem+json.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code.
          examples:
          - rest_post_invalid_id
        message:
          type: string
          description: Human-readable error message.
          examples:
          - Invalid post ID.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
              examples:
              - 404
            params:
              type: object
              description: Per-parameter messages, present on rest_invalid_param.
              additionalProperties:
                type: string
            details:
              type: object
              description: Per-parameter structured detail, present on rest_invalid_param.
              additionalProperties:
                type: object
